title FoodHub
link(rel="stylesheet", href="/style.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="shortcut icon", href="/FoodHubRec.png", type="image/png")
meta(name="theme-color", content="#000")