head
    include includes/head 
body
    include includes/header

    main
        p show meny
        //display a lot of difrent menyus created
        //one on etch row and show a title and discription

    include includes/footer